@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
#Lp_navbar {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 0px 0px;
    padding-top: 1vw;
}

.Lp_navbar_text {
    font-size: 1.2vw !important;
    margin: 0 !important;
    text-transform: capitalize !important;
    font-weight: normal !important;
}

.Lp_navbar_name {
    font-size: 3.2vw !important;
    margin: 0 !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
    font-family: 'Great Vibes' !important;
}

#Lp_bar_container {
    padding: 0vw 2vw;
}

#Lp_signup_container {
    padding-left: 1.5vw;
}

#Lp_signin_button {
    padding: 0.54vw 1.25vw;
    min-width: 0px;
}

#Lp_signup_button {
    background-color: rgb(177, 255, 0);
    padding: 0.54vw 1.25vw;
    border-radius: 8px;
    min-width: 0px;
}